html, body {
  background-color: #202020;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#instrBox {
  color: #a0a0a0;
  font-family:"Arial";
  font-size: 100%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;  
}
#overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #f0a0a0;
  font-family:"Arial";
  font-size: 300%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; 
}
