
html,body {
  font-family: 'Exo', sans-serif;
  font-size: 100%;
  background: #222;
  color: #ccc;
}
img {
  border-radius: 1em;
}
a, a:visited {
  color:#ccc;
}
a:hover {
  color:#fff;
  text-decoration: none;
}

.nav {
  padding-top:.8em;
  font-size: 1.3em;
}
.container-fluid {
  padding: 0px;
}
.card-deck {
  padding:1em;
}
.card {
  border-radius: 1em;
  background-color:#333;
  border-color:#333;
  padding:1em;
}
.card p {
  margin:1em;
}